.actions {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
}

.actions li + li {
  margin-inline-start: 0.5rem;
}

.button {
  font-size: 1rem;
  padding: 0.65rem;
}

.button > svg {
  width: 1.5rem;
}

.navLinks {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}

.navLink {
  font-size: 1rem;
  padding: 0.65rem;
  text-decoration: none;
  color: inherit;
}

.navLink:hover,
.navLink.active {
  color: #007bff;
}